<div class="container">
  <div class="heading">
    <h1>2048</h1>
    <div class="scores">
      <div class="score">
        <div class="name">BEST SCORE</div>
        <div class="value">{{state.bestScore|round}}</div>
      </div>
      <div class="score">
        <div class="name">SCORE</div>
        <div class="value">{{state.score|round}}</div>
      </div>
    </div>
  </div>
  <div class="menus">
    <template v-for="i of 2">
      <button v-if="i%2" @click="restart">restart</button>
      <button v-else @click="undo" :disabled="stack.length<2">undo({{stack.length-1}})</button>
    </template>
  </div>
  <div class="mid">
    <div class="grid" ref="grid">
      <span>
        <template v-for="y of game.size[1]">
          <tile v-for="x of game.size[0]" :data="{x:x-1,y:y-1}" :key="x+':'+y" :game="game"/>
        </template>
      </span>
      <transition-group>
        <tile v-for="item of tiles" :data="item" :game="game" :key="item.id"/>
      </transition-group>
      <div v-if="gameEnd" class="message" :class="state">
        <div v-if="state.gameover" class="text">
          Game over!
        </div>
        <div v-else-if="state.win" class="text">
          You win!
        </div>
        <div class="btns">
          <button @click="restart">Try again</button>
          <button v-if="state.win&&!state.keepGoing" @click="keepGoing">Keep going</button>
        </div>
      </div>
    </div>
  </div>
  <div class="btns">
    <button @click="move('←')">←</button>
    <button @click="move('↑')">↑</button>
    <button @click="move('↓')">↓</button>
    <button @click="move('→')">→</button>
  </div>

</div>
